#__blaze-root {
  height:100%;
}

.dense-wrapper {
  min-height:100%;
  background-image: url('/images/sos.png');
  background-attachment: fixed;
  @include media("<700px") {
    padding-top: 3rem;
  }
}

.paper {
  margin-left:5rem;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: $mini-gutter;
  @include media("<700px") {
    margin:auto;
  }
}

.padded { padding: 1rem;}

.sidebar-container {
  height:100%;
  background: $king-black;
  width:5rem;
  position:fixed;
  z-index: 1000;
  top:0;
  left:0;
  @include media("<700px") {
    width:100%;
    position: fixed;
    height:3rem;
  }
}

.stack {
  @include container(60rem);
}

.ghost-input {
  background:rgba($dead-white, 0.1);
  border: 0px;
  border-radius: $mini-gutter;
  text-align: inherit;
  &:hover {
    box-shadow: 1px 1px 3px rgba($dead-black, 0.3);
  }
}
.error{
  @extend .small-text;
}

.sidebar-item {
  box-sizing: border-box;
  margin:1rem 0px;
  display:block;
  text-align: center;
  width:100%;
  color: $focal;
  .sidebar-icon::before {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    border: 1px solid $focal;
    border-radius: 50%;
    padding:0.5rem;
    @include transition-property(all);
    @include transition-duration(0.6s);
  }
  .sidebar-label {
    color: rgba($focal, 0.7);
    @extend .small-text;
  }
  &:hover {
    .sidebar-icon::before {
      color: $king-black;
      background-color: $focal;
    }
    .ti-acoj-logo::before {
      background-color: transparent;
    }
  }
  @include media("<700px"){
    display:inline-block;
    width: 2rem;
    margin: 0.5rem 1rem;
    .sidebar-label {
      display:none;
    }
  }
}

.ti-acoj-logo {
  &::before {
    background-image: url('/images/logo.png');
    background-size: contain;
    border:0px solid $focal !important;
    border-radius: 0px !important;
    content: '\2003';
  }
}
.the-icon {
  display: block;
}

.icon-label {
  @extend .small-text;
  display: block;
}
.simple-icon {
  text-align: center;
  display:inline-block;
}

.main-icon {
  @extend .simple-icon;
  position:fixed;
  z-index: 1000;
  bottom:1rem;
  right: 1rem;
  .the-icon {
    color: $king-black;
    font-size: 1.5rem;
    background: $focal;
    width:3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba($dead-black, 0.5);
    &:hover {
      background: $accent;
    }
  }
  .icon-label {
    color: $king-black;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 3rem;
  }
}

.top-bar {
  vertical-align: middle;
  width: 100%;
  text-align: right;
  text-transform: capitalize;
  padding:0.5rem 0px;
  .the-icon { font-size: 1rem;}
  .simple-icon {padding :0px 0.5rem;}
}
