#__blaze-root {
  height:100%;
}

.dense-wrapper {
  min-height:100%;
  background-image: url('/images/sos.png');
  background-attachment: fixed;
  .polythene { overflow:auto; }
}

.paper {
  margin-left:5rem;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: $mini-gutter;
}

.padded { padding: 1rem;}

.sidebar-container {
  height:100%;
  background: $king-black;
  width:5rem;
  position:fixed;
  left:0;
}

.stack {
  @include container(60rem);
}

.ghost-input {
  background:rgba($dead-white, 0.1);
  border: 0px;
  border-radius: $mini-gutter;
  text-align: inherit;
  &:hover {
    box-shadow: 1px 1px 3px rgba($dead-black, 0.3);
  }
}
.error{
  @extend .small-text;
}

.sidebar-item {
  box-sizing: border-box;
  margin:1rem 0px;
  display:block;
  text-align: center;
  width:100%;
  color: $focal;
  .sidebar-icon::before {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    border: 1px solid $focal;
    border-radius: 50%;
    padding:0.5rem;
    @include transition-property(all);
    @include transition-duration(0.6s);
  }
  .sidebar-label {
    color: rgba($focal, 0.5);
    @extend .small-text;
  }
  &:hover {
    .sidebar-icon::before {
      color: $king-black;
      background: $focal;
    }
  }
}

.ti-acoj-logo {
  &::before {
    background-image: url('/images/logo.png');
    background-size: contain;
    border:0px solid $focal !important;
    border-radius: 0px !important;
    content: '\2003';
  }
  &::hover {
    background:transparent;
  }
}
