h1, h2, h3 {
  color: $king-black;
}

h4, h5, h6, p.large-text {
  color: $bishop-black;
}

.snow-white-txt, .snow-white-txt a { color: $snow-white; }
.king-black-txt, .king-black-txt a { color: $king-black; }
.focal-txt, .focal-txt a { color: $focal;}
.accent-txt, .accent-txt a { color: $accent;}