/**********************************
** Fonts used in the whole website
***********************************/

$content-font: 'Crimson Text', serif;
$interface-font: 'Ubuntu', sans-serif;
$cursive-font: 'Dancing Script', cursive;
